{{"{{"}}define "base"{{"}}"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{"{{"}}template "title" .{{"}}"}}</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>{{.Project_name}}</a></h1>
        </header>
        {{"{{"}}template "nav" .{{"}}"}}
        <main>
            {{"{{"}}template "main" .{{"}}"}}
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</html>
{{"{{"}}end{{"}}"}}