package main

import (
	"net/http"
)

func (app *application) servePage(page string) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
		app.render(w, http.StatusOK, page, nil)
	}
}