package main

import (
	"net/http"

	"github.com/julienschmidt/httprouter"
)

func (app *application) route() http.Handler {
	r := httprouter.New()

	fileServer := http.FileServer(http.Dir(app.config.staticDir))
	r.Handler(http.MethodGet, "/static/", http.StripPrefix("/static", fileServer))
	r.Handler(http.MethodGet, "/", app.servePage("index.html"))
	return secureHeaders(app.logRequest(r))
}
