package main

import (
	"bytes"
	"fmt"
	"html/template"
	"net/http"
	"path/filepath"
)

func NewTemplateCache() (map[string]*template.Template, error) {
	tc := map[string]*template.Template{}

	pages, err := filepath.Glob("./ui/html/pages/*.html")
	if err != nil {
		return nil, err
	}

	for _, page := range pages {
		ts, err := template.ParseFiles("./ui/html/base.html")
		if err != nil {
			return nil, err
		}

		ts, err = ts.ParseGlob("./ui/html/partials/*.html")
		if err != nil {
			return nil, err
		}

		ts, err = ts.ParseFiles(page)
		if err != nil {
			return nil, err
		}

		tc[filepath.Base(page)] = ts
	}

	return tc, nil
}

func (app *application) render(w http.ResponseWriter, status int, page string, data interface{}) {
	tc, found := app.templateCache[page]
	if !found {
		err := fmt.Errorf("no page named %s", page)
		app.serverError(w, err)
		return
	}

	buf := new(bytes.Buffer)

	err := tc.ExecuteTemplate(buf, "base", data)
	if err != nil {
		app.serverError(w, err)
		return
	}

	w.WriteHeader(status)

	buf.WriteTo(w)
}

type templateData struct {
}
